In [1]:
import pandas as pd

bn = pd.read_csv('/Users/clarenceho/Downloads/Binance.csv')
htx = pd.read_csv('/Users/clarenceho/Desktop/HTX_trade.csv')

In [2]:
#remove the 0-7 from bn
bn = bn[7:]

In [3]:
bn

,email,Date(UTC),Symbol,Side,Price,Quantity,Amount,Fee,Fee Coin,Realized Profit,Quote Asset,Unnamed: 11,Unnamed: 12
7,clarenceovo1@gmail.com,2025-07-12 06:07:22,XRPUSDT,SELL,2.7720,27.3,75.67560,0.037838,USDT,-0.08736,USDT,NaN,NaN
8,clarenceovo1@gmail.com,2025-07-12 06:08:43,SUIUSDT,SELL,3.3880,20.7,70.13160,0.035066,USDT,0.43956,USDT,NaN,NaN
9,clarenceovo1@gmail.com,2025-07-12 06:09:02,UNIUSDT,BUY,8.5300,8.0,68.24000,0.034120,USDT,0.00000,USDT,NaN,NaN
10,clarenceovo1@gmail.com,2025-07-12 06:09:19,SUIUSDT,BUY,3.3853,19.8,67.02894,0.033514,USDT,0.05346,USDT,NaN,NaN
11,clarenceovo1@gmail.com,2025-07-12 06:09:24,UNIUSDT,SELL,8.5200,8.0,68.16000,0.034080,USDT,-0.08000,USDT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
htx

,Contracts,Executed Time,Order Time,Type,Executed,Price,Transaction type,Closing P/L|P/L(USDT),Fee(USDT)
0,XRP/USDT Swap,2025-07-12 14:02:52,2025-07-12 14:02:52,Close Long,20.0,2.78155,Taker,8.7816,-0.033378
1,SUI/USDT Swap,2025-07-12 14:08:43,2025-07-12 14:08:43,Open Long,20.0,3.38520,Taker,0.0000,-0.040622
2,UNI/USDT Swap,2025-07-12 14:09:02,2025-07-12 14:09:02,Open Short,8.0,8.52810,Taker,0.0000,-0.040934
3,SUI/USDT Swap,2025-07-12 14:09:19,2025-07-12 14:09:19,Close Long,20.0,3.38130,Taker,-0.0780,-0.040575
4,UNI/USDT Swap,2025-07-12 14:09:24,2025-07-12 14:09:24,Close Short,8.0,8.52230,Taker,0.0464,-0.040907
...,...,...,...,...,...,...,...,...,...
721,UNI/USDT Swap,2025-07-14 22:27:53,2025-07-14 22:27:53,Open Long,7.0,9.40170,Taker,0.0000,-0.039487
722,UNI/USDT Swap,2025-07-14 22:28:02,2025-07-14 22:28:02,Open Long,7.0,9.40230,Taker,0.0000,-0.039489
723,TRUMP/USDT Swap,2025-07-15 22:52:32,2025-07-15 22:52:32,Open Long,7.7,9.03700,Taker,0.0000,-0.041750
724,TRUMP/USDT Swap,2025-07-16 07:00:37,2025-07-16 07:00:37,Close Long,15.0,9.41300,Taker,2.0995,-0.084717
725,TRUMP/USDT Swap,2025-07-16 07:20:03,2025-07-16 07:20:03,Open Long,7.3,9.44600,Taker,0.0000,-0.041373

In [5]:
sum(htx['Closing P/L|P/L(USDT)'])

2.7988999999999997

In [6]:
#sum the HTX df Fee
sum(htx['Fee(USDT)'])
#28.9 USD FEE

-28.917524

In [7]:
#htx['Executed Time'] is GMT +8 , to UTC

import pandas as pd

# Parse the datetime strings and localize to Asia/Shanghai, then convert to UTC
htx['UTC_TIME'] = pd.to_datetime(htx['Executed Time']).dt.tz_localize('Asia/Shanghai').dt.tz_convert('UTC')

In [8]:
htx

,Contracts,Executed Time,Order Time,Type,Executed,Price,Transaction type,Closing P/L|P/L(USDT),Fee(USDT),UTC_TIME
0,XRP/USDT Swap,2025-07-12 14:02:52,2025-07-12 14:02:52,Close Long,20.0,2.78155,Taker,8.7816,-0.033378,2025-07-12 06:02:52+00:00
1,SUI/USDT Swap,2025-07-12 14:08:43,2025-07-12 14:08:43,Open Long,20.0,3.38520,Taker,0.0000,-0.040622,2025-07-12 06:08:43+00:00
2,UNI/USDT Swap,2025-07-12 14:09:02,2025-07-12 14:09:02,Open Short,8.0,8.52810,Taker,0.0000,-0.040934,2025-07-12 06:09:02+00:00
3,SUI/USDT Swap,2025-07-12 14:09:19,2025-07-12 14:09:19,Close Long,20.0,3.38130,Taker,-0.0780,-0.040575,2025-07-12 06:09:19+00:00
4,UNI/USDT Swap,2025-07-12 14:09:24,2025-07-12 14:09:24,Close Short,8.0,8.52230,Taker,0.0464,-0.040907,2025-07-12 06:09:24+00:00
...,...,...,...,...,...,...,...,...,...,...
721,UNI/USDT Swap,2025-07-14 22:27:53,2025-07-14 22:27:53,Open Long,7.0,9.40170,Taker,0.0000,-0.039487,2025-07-14 14:27:53+00:00
722,UNI/USDT Swap,2025-07-14 22:28:02,2025-07-14 22:28:02,Open Long,7.0,9.40230,Taker,0.0000,-0.039489,2025-07-14 14:28:02+00:00
723,TRUMP/USDT Swap,2025-07-15 22:52:32,2025-07-15 22:52:32,Open Long,7.7,9.03700,Taker,0.0000,-0.041750,2025-07-15 14:52:32+00:00
724,TRUMP/USDT Swap,2025-07-16 07:00:37,2025-07-16 07:00:37,Close Long,15.0,9.41300,Taker,2.0995,-0.084717,2025-07-15 23:00:37+00:00
725,TRUMP/USDT Swap,2025-07-16 07:20:03,2025-07-16 07:20:03,Open Long,7.3,9.44600,Taker,0.0000,-0.041373,2025-07-15 23:20:03+00:00

In [9]:
bn['Date(UTC)'] = pd.to_datetime(bn['Date(UTC)'])
htx['UTC_TIME_NAIVE'] = htx['UTC_TIME'].dt.tz_convert('UTC').dt.tz_localize(None)

In [10]:
merged_df = pd.merge(htx, bn, left_on='UTC_TIME_NAIVE', right_on='Date(UTC)', how='inner')

In [11]:
merged_df.to_csv("BN_HTX.csv", index=False)